# Project exclude paths
/out/
/src/all.jpg
/src/all2.jpg
/src/capercaillie_icon.jpg
/src/Elixirs.jpg
/src/capercaillie_tracks_icon.png
/src/Eda.jpg
/src/hummer_icon.png
/src/moose_icon.png
/src/mushrooms.jpg
/src/roast_icon.jpeg
/src/workshop_things_icon.jpg
/MineAndFight/.idea/workspace.xml
/src/Exit-Green.jpg
/src/chest_icon.png
/src/chest_open.png
/src/deadly_weakness_icon_20x20.jpg
/src/dfsgsdfg.jpg
/src/mushroom_icon.png
/src/onion_bulb_icon.jpg
/src/onion_icon.png
/src/plantain_leaf_icon.jpg
/src/png-transparent-blood-cartoon-a-drop-of-blood-miscellaneous-triangle-medical.png
/src/rock1_icon.png
/src/rocks_icon.jfif
/src/sage_icon.png
/src/sage_leaf_icon.png
/src/treasure-chest-vector-4171608.jpg
/src/tree_icon.png
/src/windfall_icon.png
/src/0edbda7c7c489af9d34f8384ee8722cf.png
/src/pautina.jpg
/src/png-transparent-silhouette-computer-icons-dance-silhouette-animals-woman-silhouette.png
/src/silhouette-spider-15.jpg
/src/tarantula-5249451_1280.png
/src/3b657a24b65ee54594df993950b19e15.png
/src/16b0fb2bae0e3d88f289bc4f42afb1ca.jpg
/src/Black_widow_spider_03_yapfiles.ru.png
/src/depositphotos_118060696-stock-illustration-roll-of-anything-black-symbol.jpg
/src/Goathorn.png
/src/headache-sick-migraine-cluster_6-512.png
/src/i.jfif
/src/nSt4Xks.jpg
/src/png-clipart-erlenmeyer-flask-laboratory-flasks-computer-icons-art-conical-flask-cdr-angle.png
/src/png-clipart-pokemon-go-pokemon-black-white-egg-togepi-pokemon-go-starry-pokemon.png
/src/png-transparent-demon-silhouette-demon-s-photography-monochrome-fictional-character.png
/.idea/runConfigurations.xml
/src/spiders-5263368_960_720.png
/src/Swinemar.png
/src/завод-пеньки-руки-вычерченный-с-конусами-ветвь-конопли-листьями-эскиз-137074843.jpg
/src/93cCy3T.jpg
/src/ce7f1a70818d6fab2cba570937fa1d47.jpg
/src/missing-image.png
/src/stalacktit_column_icon_30x30.png
/src/stalagmit_and_stalacktit_icon_30x30.png
/src/stalagmit_icon_30x30.png
/src/вектор-винтажа-элемента-старой-пещеры-stalactite-декоративный-нижний-слой-159843917.jpg
/src/вектор-сталактитов-изолированный-чертеж-руки-100211745.jpg
/src/06a67927922473.5636cd062f145.png
/src/36e8e1bbb940dbb5f126cdb11c2c571b.jpg
/src/802af8402fda00fd09391668f81c7740.jpg
/src/65802.html
/src/65802 (1).html
/src/Goblin.jpg
/src/kisspng-ruins-building-5aecc8a150ac89.4754910315254672973305.jpg
/src/ruins-3380223_1280.png
/src/aebdef678375bc4364aa1612fb731e5d.jpg
/src/png-transparent-eye-symbol-computer-icons-not-if-i-see-you-first-invisibility-eye.png
/src/551-5518070_silhouette-clip-art-of-a-human-walking-an.png
/src/b3998296071f38133ee8b5084c837021.jpg
/src/bdf8deb54871f49e3f5dd0ed1b45e3e8.jpg
/src/i (1).jfif
/src/kisspng-zorro-dominoes-domino-mask-computer-icons-mask-black-5b309362d322e9.8600299115299101148648.jpg
/src/scale_1200.jfif
/src/szkic5.jpg
/src/upgrade_icon_15x15.png
/src/7e7e23af83825468da9ea0786b248aa1.png
/src/6478453cc808d0a204e0bc37657adaff.jpg
