# Project exclude paths
/out/
/src/all.jpg
/src/all2.jpg
/src/capercaillie_icon.jpg
/src/Elixirs.jpg
/src/capercaillie_tracks_icon.png
/src/Eda.jpg
/src/hummer_icon.png
/src/moose_icon.png
/src/mushrooms.jpg
/src/roast_icon.jpeg
/src/workshop_things_icon.jpg
/MineAndFight/.idea/workspace.xml
/src/Exit-Green.jpg
/src/chest_icon.png
/src/chest_open.png
/src/deadly_weakness_icon_20x20.jpg
/src/dfsgsdfg.jpg
/src/mushroom_icon.png
/src/onion_bulb_icon.jpg
/src/onion_icon.png
/src/plantain_leaf_icon.jpg
/src/png-transparent-blood-cartoon-a-drop-of-blood-miscellaneous-triangle-medical.png
/src/rock1_icon.png
/src/rocks_icon.jfif
/src/sage_icon.png
/src/sage_leaf_icon.png
/src/treasure-chest-vector-4171608.jpg
/src/tree_icon.png
/src/windfall_icon.png
